### Packages and Libraries

In [1]:
# import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

from sklearn.preprocessing import StandardScaler
from scipy.stats import zscore
from scipy.cluster.hierarchy import dendrogram,linkage
from scipy.cluster.hierarchy import fcluster
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score

In [ ]:
## Factor Analyzer installation may be required
#!pip install factor-analyzer

# 1 Clustering

### 1.1 Data Set:

Clustering: Read the data and perform basic analysis such as printing a few rows (head and tail), info, data summary, null values duplicate values, etc. (4)

For this excercise the 'Clustering Clean Ads_Data-2.xlsx' shall be used provided as part of project.

In [ ]:
os.chdir('C:/Users/lsreeram/Downloads/_/GL/04 Data Mining/Final')

In [ ]:
ads_df = pd.read_excel('Clustering Clean Ads_Data-2.xlsx')
ads_df.head()

In [ ]:
ads_df.tail()

In [ ]:
ads_df.shape

In [ ]:
ads_df.describe().T

Based on above description of data, it is evident that data is not scaled. Scaling shall be required.

In [ ]:
ads_df.info()

Assigned Data types are good. Next, check for duplicates in dataset, followed by missing values.

In [ ]:
ads_df.duplicated().sum()

In [ ]:
ads_df.isnull().sum()

3 columns namely CTR, CPM, CPC have missing values

### 1.2 Treating missing values:

Clustering: Treat missing values in CPC, CTR and CPM using the formula given. (4)

Calculate the values of CPM, CPC, CTR based on below provided information:

CPM = (Total Campaign Spend / Number of Impressions) * 1,000. Note that the Total Campaign Spend refers to the 'Spend' Column in the dataset and the Number of Impressions refers to the 'Impressions' Column in the dataset. 

CPC = Total Cost (spend) / Number of Clicks.  Note that the Total Cost (spend) refers to the 'Spend' Column in the dataset and the Number of Clicks refers to the 'Clicks' Column in the dataset. 

CTR = Total Measured Clicks / Total Measured Ad Impressions x 100. Note that the Total Measured Clicks refers to the 'Clicks' Column in the dataset and the Total Measured Ad Impressions refers to the 'Impressions' Column in the dataset.

In [ ]:
def calculate_cpm(x):
    spend =ads_df.Spend
    impressions=ads_df.Impressions
    cpm = (spend/impressions)*1000
    return cpm

In [ ]:
def calculate_cpc(x):
    spend =ads_df.Spend
    clicks=ads_df.Clicks
    cpc = spend/clicks
    return cpc

In [ ]:
def calculate_ctr(x):
    clicks=ads_df.Clicks
    impressions=ads_df.Impressions
    ctr = (clicks/impressions)*100
    return ctr

In [ ]:
ads_df['CPM']= ads_df[['CPM']].apply(lambda x: calculate_cpm(x))
ads_df['CPC']= ads_df[['CPC']].apply(lambda x: calculate_cpc(x))
ads_df['CTR']= ads_df[['CTR']].apply(lambda x: calculate_ctr(x))

In [ ]:
ads_df.tail(3)

In [ ]:
ads_df.isnull().sum()

In [ ]:
ads_new_df = ads_df.drop(['Timestamp', 'InventoryType','Ad Type', 'Platform','Device Type', 'Format'], axis = 1)

In [ ]:
ads_new_df.tail()

In [ ]:
ads_new_df.shape

New dataset is created with relevant variables for clustering. There are no more missing values.

### 1. 3 Outliers
Clustering: Check if there are any outliers. Do you think treating outliers is necessary for K-Means clustering? Based on your judgement decide whether to treat outliers and if yes, which method to employ. (As an analyst your judgement may be different from another analyst). (3)

Check for presence of outliers in each feature

In [ ]:
plt.figure(figsize = (20,10))
feature_list = ads_new_df.columns
for i in range(len(feature_list)):
    plt.subplot(3,5, i + 1)
    sns.boxplot(y = ads_new_df[feature_list[i]], data = ads_new_df)
    #plt.title('Boxplot of {}'.format(feature_list[i]))
    plt.title(feature_list[i])
    plt.tight_layout()

There are outliers in many features.

A major problem with K-Means is that K-means is sensitive to outliers. What does this mean?

Well, if there is a single point that is too far away from the rest, it will always be placed in its own one-point cluster.
Such a data point is so far away from the rest of the data that it is destined to be in its own cluster. The remedy, just get rid of outliers prior to clustering.

Alternatively, if you do the clustering and spot one-point clusters, remove them and cluster again.

In [ ]:
def remove_outlier(col):
    Q1,Q3=col.quantile([0.25, 0.75])
    IQR=Q3-Q1
    lower_range=Q1-(1.5*IQR)
    upper_range=Q3+(1.5*IQR)
    return lower_range, upper_range

In [ ]:
for i in ads_new_df.columns:
    LL,UL=remove_outlier(ads_new_df[i])
    ads_new_df[i] = np.where(ads_new_df[i] > UL, UL, ads_new_df[i])
    ads_new_df[i] = np.where(ads_new_df[i] < LL, LL, ads_new_df[i])

In [ ]:
plt.figure(figsize = (20,10))
for i in range(len(ads_new_df.columns)):
    plt.subplot(3,5, i+1)
    sns.boxplot(y = ads_new_df[ads_new_df.columns[i]], data = ads_new_df)
    plt.title(ads_new_df.columns[i])
    plt.tight_layout()

There are no outliers in the above boxplot.

In [ ]:
ads_new_df.describe().T

### 1.4 Z-Score
Clustering: Perform z-score scaling and discuss how it affects the speed of the algorithm. (3)

In [ ]:
#Scale the data
#from scipy.stats import zscore
ads_scaled_df = ads_new_df.apply(zscore)

In [ ]:
ads_scaled_df

### 1.5 Clustering

Clustering: Perform Hierarchical by constructing a Dendrogram using WARD and Euclidean distance. (4)

In [ ]:
#from scipy.cluster.hierarchy import dendrogram,linkage
wardlink = linkage(ads_scaled_df, method='ward', metric='euclidean')
dend = dendrogram(wardlink)

In [ ]:
#Show last p  merges, setting p-10
dend = dendrogram(wardlink, truncate_mode='lastp', p=10)

In [ ]:
#Assign cluster to records using fcluster
#Method1
clusters = fcluster(wardlink, 5, criterion='maxclust')
clusters

In [ ]:
#ads_df['Hierarchical_Clusters']=clusters
#ads_df.head(3)

### 1.6 Elbow Point
Clustering: Make Elbow plot (up to n=10) and identify optimum number of clusters for k-means algorithm. (4)

In [ ]:
#from sklearn.cluster import KMeans
wss =[] 
for i in range(1,11):
    KM = KMeans(n_clusters=i)
    KM.fit(ads_scaled_df)
    wss.append(KM.inertia_)
wss

Most data can be captured in 5 clusters, plotting below to see elbow point.

In [ ]:
plt.figure(figsize=(15,5))
plt.plot(range(1,11), wss, marker='o', markerfacecolor='red', markersize=10)
plt.xlabel('K (Number of Clusters)')
plt.ylabel('Inertia Score')
plt.title('Inertia vs K Value')

We have a very distinct elbow point here and generally distinct elbows rarely come out in actual data. The the optimum value of k can be 5 from above plot as inertia continuous to drop steeply at least till k=4.

We can use silhouette score, which is another cluster quality measure, to choose the best k among 4–6. We can also take business inputs here to determine what would be a practical value of k.

Once we have determined the value of k, we generate the final clustering object and save it for scoring process. We will also get the cluster labels for all the records and save it.

### 1.7 Silehoutte
Clustering: Print silhouette scores for up to 10 clusters and identify optimum number of clusters. (4)

In [ ]:
sil_df=pd.DataFrame()
sil_scores = []
sil_min_scores=[]
print('Printing the Silhouette Scores for the k clusters below: ')
print('')

for i in range(2,11):
    KM = KMeans(n_clusters=i)
    KM.fit(ads_scaled_df)
    labels =KM.labels_
    
    #Calculate and Print Silhoutte Score
    sil_score = silhouette_score(ads_scaled_df,labels)
    
    print('Silhoutte Score for {0} clusters is: {1}'.format(i, sil_score))
    sil_scores.append(sil_score)
    
    #Calculate and Print Silhouette Minimum Score:
    sil_min_score = silhouette_samples(ads_scaled_df,labels).min()
    sil_min_scores.append(sil_min_score)
    
    #Assign Cluster Silhouette Widths of K clusters to original dataframe

    #sil_width = silhouette_samples(ads_scaled_df,labels)
    #ads_df[i]=sil_width
    
    #Assign Cluster Labels of K Clusters to original datarame
    #ads_df['Clusters_KMeans_{0}'.format(i)] = labels

In [ ]:
sil_scores

In [ ]:
sil_min_scores

The Silhouette scores are visualized in plot below.

In [ ]:
plt.figure(figsize=(15,5))
plt.plot(range(2,11), sil_scores, marker='o', markerfacecolor='blue', markersize=10)
plt.xlabel('K (Number of Clusters)')
plt.ylabel('Silhouette Score')
plt.title('Silhouette Score vs K Value')

In [ ]:
ads_df.head()

In [ ]:
sil_score = silhouette_score(ads_scaled_df,labels)
sil_score

In [ ]:
sil_min = silhouette_samples(ads_scaled_df,labels).min()
sil_min

In [ ]:
ads_df.head(3)

### 1.8 Profiling

Clustering: Profile the ads based on optimum number of clusters using silhouette score and your domain understanding [Hint: Group the data by clusters and take sum or mean to identify trends in Clicks, spend, revenue, CPM, CTR, & CPC based on Device Type. Make bar plots (4)

In [ ]:
#Kmeans k value determination
k_means = KMeans(n_clusters=5)
k_means.fit(ads_scaled_df)
labels = k_means.labels_
labels

In [ ]:
ads_df['Kmeans_Clusters']=labels
ads_df.head(3)

In [ ]:
ads_df['Kmeans_Clusters'].value_counts().sort_index()

In [ ]:
clust_profile = ads_df.drop(['Timestamp', 'InventoryType','Ad Type', 'Platform','Device Type', 'Format'], axis = 1)
clust_profile=ads_df.groupby('Kmeans_Clusters').mean()
clust_profile['freq']=ads_df['Kmeans_Clusters'].value_counts().sort_index()
clust_profile

In [ ]:
ads_df.to_csv('Ads_Clusters.csv')

In [ ]:
#Filtering for unique labels
 
u_labels = np.unique(labels)

#filter rows of original data
filtered_label0 = ads_df[labels == 0]

#filter rows of original data
filtered_label2 = ads_df[labels == 2].values
 
filtered_label8 = ads_df[labels == 4].values

#Plotting the results
plt.scatter(filtered_label2[:,0] , filtered_label2[:,1] , color = 'red')
plt.scatter(filtered_label8[:,0] , filtered_label8[:,1] , color = 'black')
plt.show()

### 1.9 Clustering Conclusion
Clustering: Conclude the project by providing summary of your learnings. (3)

Refer to Business Report.

# 2 PCA:

### 2.1 Part 2 - PCA: Dataset
    
Read the data and perform basic checks like checking head, info, summary, nulls, and duplicates, etc. (4)

For this excercise the 'PCA India Data_Census.xlsx' shall be used provided as part of project.

In [2]:
os.chdir('C:/Users/lsreeram/Downloads/_/GL/04 Data Mining/Final')

In [3]:
df=pd.read_excel('PCA India Data_Census.xlsx')

In [4]:
df.shape

(640, 61)

In [5]:
df.head(3)

,State Code,Dist.Code,State,Area Name,No_HH,TOT_M,TOT_F,M_06,F_06,M_SC,...,MARG_CL_0_3_M,MARG_CL_0_3_F,MARG_AL_0_3_M,MARG_AL_0_3_F,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_M,NON_WORK_F
0,1,1,Jammu & Kashmir,Kupwara,7707,23388,29796,5862,6196,3,...,1150,749,180,237,680,252,32,46,258,214
1,1,2,Jammu & Kashmir,Badgam,6218,19585,23102,4482,3733,7,...,525,715,123,229,186,148,76,178,140,160
2,1,3,Jammu & Kashmir,Leh(Ladakh),4452,6546,10964,1082,1018,3,...,114,188,44,89,3,34,0,4,67,61

In [ ]:
df.info()

In [ ]:
df.describe().T

Observation: Data is not scaled already.

In [ ]:
df.isnull().sum()

In [ ]:
df.duplicated().sum()

### 2.2 Part 2 - PCA: EDA

Perform detailed Exploratory analysis by creating certain questions like (i) Which state has highest gender ratio and which has the lowest? (ii) Which district has the highest & lowest gender ratio? (Example Questions). Pick 5 variables out of the given 24 variables below for EDA: No_HH, TOT_M, TOT_F, M_06, F_06, M_SC, F_SC, M_ST, F_ST, M_LIT, F_LIT, M_ILL, F_ILL, TOT_WORK_M, TOT_WORK_F, MAINWORK_M, MAINWORK_F, MAIN_CL_M, MAIN_CL_F, MAIN_AL_M, MAIN_AL_F, MAIN_HH_M, MAIN_HH_F, MAIN_OT_M, MAIN_OT_F

(6)

SEX RATIO at BIRTH is the number of resident male live births (for a specific geography such as country, state or county for a specified time period, usually a calendar year) divided by the number of resident female live births (for the same geography and time period) and multiplied by 100 or 1,000. 3.

In [6]:
df_eda = df.loc[:, ['State', 'Area Name','TOT_F', 'TOT_M', 'F_LIT' ,'M_LIT', 'TOT_WORK_F','TOT_WORK_M']]
df_eda.head(3)

,State,Area Name,TOT_F,TOT_M,F_LIT,M_LIT,TOT_WORK_F,TOT_WORK_M
0,Jammu & Kashmir,Kupwara,29796,23388,11364,13381,3752,6723
1,Jammu & Kashmir,Badgam,23102,19585,7891,10513,4200,6982
2,Jammu & Kashmir,Leh(Ladakh),10964,6546,5840,4534,4800,2775

In [7]:
df_eda_1=df_eda.groupby('State').sum()
df_eda_1['No Of Districts']=df_eda['State'].value_counts().sort_index()
df_eda_1['Gender Ratio M/F'] = df_eda_1['TOT_M']/df_eda_1['TOT_F']
df_eda_1.head(5)

,TOT_F,TOT_M,F_LIT,M_LIT,TOT_WORK_F,TOT_WORK_M,No Of Districts,Gender Ratio M/F
State,,,,,,,,
Andaman & Nicobar Island,28691,18726,20237,15488,8483,9767,3,0.652679
Andhra Pradesh,6097235,3274363,2678603,2372971,2833719,1674517,23,0.537024
Arunachal Pradesh,88066,50582,45307,33965,41394,15841,16,0.574365
Assam,2093432,1437268,1152979,1023294,705299,744397,27,0.686561
Bihar,5405883,4025198,2197931,2408492,1464147,1524553,38,0.744596

In [ ]:
col_min = maxValueIndex = df_eda_1.idxmax()
col_max = maxValueIndex = df_eda_1.idxmax()

In [11]:
maxValueIndex = df_eda_1.idxmax()
 
print("Maximum values of columns are at row index position :")
print(maxValueIndex)

Maximum values of columns are at row index position :
TOT_F               Uttar Pradesh
TOT_M               Uttar Pradesh
F_LIT               Uttar Pradesh
M_LIT               Uttar Pradesh
TOT_WORK_F          Uttar Pradesh
TOT_WORK_M          Uttar Pradesh
No Of Districts     Uttar Pradesh
Gender Ratio M/F      Lakshadweep
dtype: object

In [27]:
for i in df_eda_1.columns:
    
    min_val=df_eda_1[i].min()
    max_val=df_eda_1[i].max()
    
    min_ind = df_eda_1[i].idxmin()    
    max_ind = df_eda_1[i].idxmax()    
    print("{1} State/UT has Lowest Value of {2} for {0} column".format(i,min_ind,min_val))
    print("{1} State/UT has Highest Value of {2} for {0} column".format(i,max_ind,max_val))
    print(' ')

Dadara & Nagar Havelli State/UT has Lowest Value of 10831 for TOT_F column
Uttar Pradesh State/UT has Highest Value of 12023885 for TOT_F column

Dadara & Nagar Havelli State/UT has Lowest Value of 6982 for TOT_M column
Uttar Pradesh State/UT has Highest Value of 9043969 for TOT_M column

Dadara & Nagar Havelli State/UT has Lowest Value of 5308 for F_LIT column
Uttar Pradesh State/UT has Highest Value of 5574752 for F_LIT column

Dadara & Nagar Havelli State/UT has Lowest Value of 5119 for M_LIT column
Uttar Pradesh State/UT has Highest Value of 6016402 for M_LIT column

Lakshadweep State/UT has Lowest Value of 1780 for TOT_WORK_F column
Uttar Pradesh State/UT has Highest Value of 2972243 for TOT_WORK_F column

Dadara & Nagar Havelli State/UT has Lowest Value of 3138 for TOT_WORK_M column
Uttar Pradesh State/UT has Highest Value of 3710433 for TOT_WORK_M column

Chandigarh State/UT has Lowest Value of 1 for No Of Districts column
Uttar Pradesh State/UT has Highest Value of 71 for No Of Districts column

Andhra Pradesh State/UT has Lowest Value of 0.5370242413159407 for Gender Ratio M/F column
Lakshadweep State/UT has Highest Value of 0.8680611968589222 for Gender Ratio M/F column

(i) Which state has highest gender ratio and which has the lowest?

Andhra Pradesh State/UT has Lowest Value of 0.5370242413159407 for Gender Ratio M/F column
Lakshadweep State/UT has Highest Value of 0.8680611968589222 for Gender Ratio M/F column

(ii) Which district has the highest & lowest gender ratio?

### 2.3 Part 2 - PCA: Outliers

We choose not to treat outliers for this case. Do you think that treating outliers for this case is necessary? (1)

In [ ]:
df_pca = df.drop(['State', 'Area Name', 'Dist.Code', 'State Code'], axis=1)
df_pca.head(3)

In [ ]:
df_pca.describe().T

In [ ]:
#Check for presence of outliers in each feature
plt.figure(figsize = (20,16))
feature_list = df_pca.columns
for i in range(len(feature_list)):
    plt.subplot(5,12, i + 1)
    sns.boxplot(y = df_pca[feature_list[i]], data = df_pca)
    plt.title('{}'.format(feature_list[i]))
    plt.tight_layout()

Z-score is a variation of scaling that represents the number of standard deviations away from the mean. You would use z-score to ensure your feature distributions have mean = 0 and std = 1. It's useful when there are a few outliers, but not so extreme that you need clipping.

### 2.4 Part 2 - PCA: Data Scaling
    
Scale the Data using z-score method. Does scaling have any impact on outliers? Compare boxplots before and after scaling and comment.    (3)

In [ ]:
#Scale the data
from scipy.stats import zscore
df_pca_scaled = df_pca.apply(zscore)

In [ ]:
#Check the data post scaling
df_pca_scaled.head()

In [ ]:
#Check for presence of correlations
plt.figure(figsize = (10,8))
sns.heatmap(df_pca_scaled.corr(), annot=True,fmt='.2f');

### 2.5 Part 2 - PCA: Perform PCA 
Perform all the required steps for PCA (use sklearn only) Create the covariance Matrix Get eigen values and eigen vector.
(4)

In [ ]:
df_pca_scaled.shape

In [ ]:
#Confirm the statistical significance of correlations
#H0: Correlations are not significant, H1: There are significant correlations
#Reject H0 if p-value < 0.05
from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity
chi_square_value,p_value=calculate_bartlett_sphericity(df_pca_scaled)
p_value

In [ ]:
#Confirm the adequacy of sample size. 
#Note: Above 0.7 is good, below 0.5 is not acceptable
from factor_analyzer.factor_analyzer import calculate_kmo
kmo_all,kmo_model=calculate_kmo(df_pca_scaled)
kmo_model

In [ ]:
#Apply PCA taking all features
from sklearn.decomposition import PCA
pca = PCA(n_components=57, random_state=123)
pca_transformed = pca.fit_transform(df_pca_scaled)

In [ ]:
#Extract eigen vectors
pca.components_

In [ ]:
#Check the eigen values
#Note: This is always returned in descending order
pca.explained_variance_

### 2.6 Part 2 - PCA: Identify PCA

Identify the optimum number of PCs (for this project, take at least 90% explained variance). Show Scree plot. (3)

In [ ]:
#Create a scree plot
plt.figure(figsize=(8,4))
sns.lineplot(y=pca.explained_variance_ratio_ ,x=range(1,58),marker='o')
plt.xlabel('Number of Components',fontsize=10)
plt.ylabel('Variance Explained',fontsize=10)
plt.title('Scree Plot',fontsize=12)
plt.grid()
plt.show()

In [ ]:
#Check the cumlative explained variance ratio to find a cut off for selecting the number of PCs
exp_var=np.cumsum(pca.explained_variance_ratio_)
exp_var

### 2.7 Part 2 - PCA: Inferences

Compare PCs with Actual Columns and identify which is explaining most variance. Write inferences about all the Principal components in terms of actual variables. (4)

In [ ]:
#Create a dataframe containing the loadings or coefficients of all PCs
df_extracted_loadings = pd.DataFrame(pca.components_.T, 
                                     columns = ['PC1','PC2', 'PC3', 'PC4', 'PC5', 'PC6','PC7', 'PC8', 'PC9', 'PC10',
                                               'PC11','PC12', 'PC13', 'PC14', 'PC15', 'PC16','PC17', 'PC18', 'PC19', 'PC20',
                                               'PC21','PC22', 'PC23', 'PC24', 'PC25', 'PC26','PC27', 'PC28', 'PC29', 'PC30',
                                               'PC31','PC32', 'PC33', 'PC34', 'PC35', 'PC36','PC37', 'PC38', 'PC39', 'PC40',
                                               'PC41','PC42', 'PC43', 'PC44', 'PC45', 'PC46','PC47', 'PC48', 'PC49', 'PC50',
                                               'PC51','PC52', 'PC53', 'PC54', 'PC55', 'PC56','PC57'],
                                    index = df_pca_scaled.columns)

In [ ]:
#Choose the PCs basis cumulative explained variance
df_selected = df_extracted_loadings[['PC1','PC2', 'PC3', 'PC4', 'PC5', 'PC6', 'PC7']]

In [ ]:
#Check as to how the original features matter to each PC
#Note: Here we are only considering the absolute values
plt.figure(figsize = (20,8))
for i in range(len(df_selected.columns)):
    plt.subplot(3,4,i+1)
    abs(df_selected[df_selected.columns[i]]).T.sort_values(ascending = False).plot.bar()
    plt.yticks(np.arange(0,1.2,.2))
    plt.title('Abs. loadings of {}'.format(df_selected.columns[i]))
    plt.tight_layout()

In [ ]:
#Compare how the original features influence various PCs
plt.figure(figsize = (12,8))
sns.heatmap(abs(df_selected), annot = True, cmap = 'Blues',fmt = '.2f');

In [ ]:
#In order to calculate PC scores we need loadings, below:
df_selected

In [ ]:
#...and we need the original scaled features
df_pca_scaled.iloc[0]

In [ ]:
#We need to perform a dot product between the loadings and features to obtain the scores
for i in df_selected.columns:
    pc_score = np.dot(df_selected[i], df_pca_scaled.iloc[0])
    print(round(pc_score, 6), end = ' ')

In [ ]:
#Above step involves a lot of hard work. Let's do it the easier way
#Extract the required(as per the cumulative explained variance) number of PCs
pca = PCA(n_components=7, random_state=123)
pca_final = pca.fit_transform(df_pca_scaled)

In [ ]:
#Just create a dataframe out of fit_transformed scaled data above
pca_final_df = pd.DataFrame(pca_final, columns = df_selected.columns)
pca_final_df.head(10)

In [ ]:
#Check for presence of correlations among the PCs
plt.figure(figsize = (10,8))
sns.heatmap(pca_final_df.corr(), annot=True,fmt='.2f');

### 2.8 Part 2 - PCA: PCA Equation

Write linear equation for first PC. (2)

In [ ]:
for i in range(0,57):
    print("(",np.round(pca.components_[0][i],2),")",'*',df_pca_scaled.columns[i], end=' + ')