https://github.com/thuynh323/Natural-language-processing/blob/master/FuzzyWuzzy%20-%20Ramen%20Rater%20List/Find%20similar%20strings%20with%20FuzzyWuzzy.ipynb

In [ ]:
#!pip install fuzzywuzzy

In [3]:
import pandas as pd
import numpy as np
from fuzzywuzzy import process, fuzz

C:\ProgramData\Anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning warnings.warn
('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [4]:
ramen=pd.read_excel('RamenList.xlsx')
ramen.head(5)

,Review #,Brand,Variety,Style,Country,Stars,T
0,4300,Maruchan,Ramen Noodle Soup Chicken Flavor,Pack,United States,3.5,NaN
1,4299,Sau Tao,Fresh Pasta Cuttlefish In Squid Ink Sauce,Tray,Hong Kong,5,NaN
2,4298,Li Xiao Mien,Er Lu Dou Pi Er,Cup,China,5,NaN
3,4297,Kikkoman,Spicy Garlic Noodle Kit With Sauce,Box,United States,4.5,NaN
4,4296,Paldo,Teumsae Stir Fried Ramen,Bowl,South Korea,3.5,NaN

In [5]:
brand_country = ramen['Brand'] +' '+ ramen['Country']
brand_country.nunique()

745

In [6]:
unique_brand = ramen['Brand'].unique().tolist()
sorted(unique_brand)[:20]

['1 To 3 Noodles',
 '7 Select',
 '7 Select/Nissin',
 '7-Eleven / Nissin',
 'A-One',
 'A-Sha',
 'A-Sha Dry Noodle',
 'A1',
 'ABC',
 'ABC President',
 'Acecook',
 'Aces',
 'Adabi',
 'Ah Lai',
 'Aji-no-men',
 'Ajinatori',
 'Ajinomoto',
 'Alhami',
 'Amianda',
 'Amino']

### Token Sort Ratio

In [7]:
process.extract('7 Select', unique_brand, scorer=fuzz.token_sort_ratio)

[('7 Select', 100),
 ('7 Select/Nissin', 70),
 ('Jinbo Selection', 61),
 ('SesaOle', 53),
 ('Sesaole', 53)]

In [8]:
process.extract('A-Sha', unique_brand, scorer=fuzz.token_sort_ratio)

[('A-Sha', 100), ('Shan', 67), ("Kay's", 60), ('Yamasa', 55), ('Daisho', 55)]

In [9]:
process.extract("Chef Nic's Noodles", unique_brand, scorer=fuzz.token_sort_ratio)

[("Chef Nic's Noodles", 100),
 ("Mr. Lee's Noodles", 71),
 ('Fantastic Noodles', 69),
 ('Kung Fu Noodles', 67),
 ('1 To 3 Noodles', 62)]

In [10]:
process.extract('Chorip Dong', unique_brand, scorer=fuzz.token_sort_ratio)

[('Chorip Dong', 100),
 ('ChoripDong', 95),
 ('Hi-Myon', 56),
 ('Mr. Udon', 56),
 ('Maison de Coree', 54)]

### Sort Score

In [11]:
#Create tuples of brand names, matched brand names, and the score
score_sort = [(x,) + i
             for x in unique_brand 
             for i in process.extract(x, unique_brand, scorer=fuzz.token_sort_ratio)]

In [12]:
#Create dataframe from the tuples
similarity_sort = pd.DataFrame(score_sort, columns=['brand_sort','match_sort','score_sort'])
similarity_sort.head()

  brand_sort match_sort  score_sort
0   Maruchan   Maruchan         100
1   Maruchan   Yamachan          75
2   Maruchan    Marutai          67
3   Maruchan   Namchang          62
4   Maruchan     Omachi          57

In [13]:
#Derive representative values
similarity_sort['sorted_brand_sort'] = np.minimum(similarity_sort['brand_sort'], similarity_sort['match_sort'])
similarity_sort.head()

  brand_sort match_sort  score_sort sorted_brand_sort
0   Maruchan   Maruchan         100          Maruchan
1   Maruchan   Yamachan          75          Maruchan
2   Maruchan    Marutai          67          Maruchan
3   Maruchan   Namchang          62          Maruchan
4   Maruchan     Omachi          57          Maruchan

In [14]:
high_score_sort = similarity_sort[(similarity_sort['score_sort'] >= 80) &
                                      (similarity_sort['brand_sort'] != similarity_sort['match_sort']) &
                                      (similarity_sort['sorted_brand_sort'] != similarity_sort['match_sort'])]

In [15]:
#Drop the representative value column
high_score_sort = high_score_sort.drop('sorted_brand_sort',axis=1).copy()

In [16]:
#Group matches by brand names and scores
#pd.set_option('display.max_rows', None)
high_score_sort.groupby(['brand_sort','score_sort']).agg(
                        {'match_sort': ', '.join}).sort_values(
                        ['score_sort'], ascending=False)

                                                                     match_sort
brand_sort        score_sort
Nissin Miojo      100                                              Nissin-Miojo
MAMA              100                                                      Mama
World O Noodle    100                                           World O' Noodle
Unif / Tung-I     100                                               Unif Tung-I
Tasty ly          100                                                  Tasty.ly
TableMark         100                                                 Tablemark
Seven & i         100                                                   Seven&I
Seven & I         100                                        Seven&I, Seven & i
SesaOle           100                                                   Sesaole
O'Taste           100                                                   O'taste
BAMAN             100                                                     Baman
Nissin            100                                                   Nissin
MyKuali           100                                                   Mykuali
Mamee-Shinsegae   100                                           Shinsegae Mamee
Mamee Shinsegae   100                          Shinsegae Mamee, Mamee-Shinsegae
Mamee / Shinsegae 100         Shinsegae Mamee, Mamee Shinsegae, Mamee-Shinsegae
Wu Mu             100                                                     Wu-Mu
Hi Lai Foods      100                                              Hi-Lai Foods
Lau Liu Tou       100                                               Lau Liu tou
KOKA              100                                                      Koka
Goku Uma          100                                                  Goku-Uma
Tseng Noodle      96                                              Tseng Noodles
Shoo Long Kan     96                                             Shoo Loong Kan
Nakaki Food       96                                               Nakaki Foods
Fashion Food      96                                              Fashion Foods
Chorip Dong       95                                                 ChoripDong
Mi Sedaap         95                                                 Mie Sedaap
Mr. Noodle        95                                                Mr. Noodles
Liitle Couples    93                                             Little Couples
Prince Karsu      92                                               Prince Katsu
Thien Houng Foods 91                                           Thien Huong Food
Souper            91                                                      Super
Uncle Fun         89                                                  Uncle Sun
Sura              89                                                      Suraj
Ped Chef          88                                                   Red Chef
Igarashi Seifun   87                                            Igarashi Seimen
Lingzhu           86                                                    Mingzhu
Samyang           86                                                    Sanyang
Sao Tao           86                                                    Sau Tao
Han               86                                                       Shan
Weh Lih           86                                                    Wei Lih
Sakurai           86                                                    Samurai
Higashimaru       84                                                   Ishimaru
Super             83                                                    SuperMi
O Sung            83                                                     Ohsung
Chuanbei          82                                                  Wei Chuan
ABC President     82                                                  President
Sun Noodle        82                                 Tseng Noodle, Urban Noodle
President         82                                              Uni-President
President Rice    81                                              Uni-President
FitMee            80                                                       iMee
Sakura Noodle     80                                               Urban Noodle
Thai Chef         80                                                Thai Choice
Pama              80                                                     Pamana
Nakaki Foods      80                                              Sakurai Foods
Men-Sunaoshi      80                                                   Sunaoshi
Kiki              80                                                     Kuriki
Bamee             80                                                      Mamee
Lishan            80                                                       Shan

In [17]:
#Souper - Super - 91%
ramen[(ramen['Brand'] == 'Souper') | (ramen['Brand'] == 'Super')].sort_values(['Brand'])

,Review #,Brand,Variety,Style,Country,Stars,T
342,3958,Souper,Chow Mein With Soup Stock,Pack,United States,4,NaN
3483,817,Souper,Bowl Ramen Shrimp,Bowl,Taiwan,3.75,NaN
3887,413,Souper,Alimentary Paste Chow Mein,Pack,Taiwan,4.25,NaN
1423,2877,Super,Cup Instant Noodle Seafood Flavour,Cup,Malaysia,2.5,NaN
1492,2808,Super,Super Cup Signature White Curry,Cup,Malaysia,0.25,NaN
2510,1790,Super,Kimchi,Cup,Malaysia,4.5,NaN
2512,1788,Super,Curry Flavour Noodles,Cup,Malaysia,3,NaN
2515,1785,Super,Instant Noodles Black Pepper Crab Mi Goreng,Cup,Malaysia,3.5,NaN
2568,1732,Super,Seafood Flavour Noodles,Cup,Malaysia,3.25,NaN
2805,1495,Super,Instant Noodles Mee Goreng,Cup,Malaysia,3.75,NaN

In [18]:
#Sura - Suraj - 89%
ramen[(ramen['Brand'] == 'Sura') | (ramen['Brand'] == 'Suraj')].sort_values(['Brand'])

      Review #  Brand                Variety Style      Country Stars   T
3656       644   Sura  Knife Cut Rice Noodle  Bowl  South Korea  3.75 NaN
1185      3115  Suraj         Masala Noodles  Pack       Canada     2 NaN

In [19]:
#Ped Chef - Red Chef - 88%
ramen[(ramen['Brand'] == 'Ped Chef') | (ramen['Brand'] == 'Red Chef')].sort_values(['Brand'])

,Review #,Brand,Variety,Style,Country,Stars,T
1537,2763,Ped Chef,Sesame Clear Soup Noodles,Pack,Malaysia,3.5,NaN
188,4112,Red Chef,Hae Bee Hiam Dried Noodles,Pack,Malaysia,5,NaN
846,3454,Red Chef,Spicy Sakura Prawn Soup Rice Vermicelli & Nood...,Pack,Malaysia,5,NaN
863,3437,Red Chef,Green Tom Yum Soup Noodles (New Formulation De...,Pack,Malaysia,5,NaN
1064,3236,Red Chef,Spicy Sakura Prawn Soup Rice Vermicelli & Noodles,Pack,Malaysia,5,NaN
1098,3202,Red Chef,Pandan White Curry Noodle (New Recipe),Pack,Malaysia,5,NaN
1538,2762,Red Chef,Pandan White Curry Noodles,Pack,Malaysia,5,NaN
1539,2761,Red Chef,Green Tom Yum Soup Noodles,Pack,Malaysia,5,NaN
1540,2760,Red Chef,Spicy Sakura Prawn Soup Noodles,Pack,Malaysia,5,NaN

# Full Code