# Part 1

In this assignment you are required to scrape all products from this URL:
    
https://www.amazon.in/s?k=bags&crid=2M096C61O4MLT&qid=1653308124&sprefix=ba%2Caps%2C283&ref=sr_pg_1
    
Need to scrape atleast 20 pages of product listing pages.

Items to scrape

• Product URL

• Product Name

• Product Price

• Rating

• Number of reviews

#### Step 1 - Import Pre-Requisites

In [3]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re

#### Step 2 - Define User Agent & Access Assignment URL

In [4]:
headers = {'User-Agent': 'Mozilla/5.0',  'Accept-Language': 'en-US, en;q=0.5'}
#headers = {'User-Agent': 'Chrome/111.0.5563.65'}
URL = 'https://www.amazon.in/s?k=bags&crid=2M096C61O4MLT&qid=1653308124&sprefix=ba%2Caps%2C283&ref=sr_pg_1'
webpage = requests.get(URL, headers=headers)
soup = BeautifulSoup(webpage.content, "lxml")

#### Step 3 - Loop through the webpage element tag to obtain required information

In [12]:
alls = []

for d in soup.findAll('div', attrs={'class':'aok-relative'}):
    
    name = d.find('a', attrs={'class':'a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal'})
    price= d.find('span', attrs={'class':'a-price-whole'})
    rating = d.find('span', attrs={'class':'a-size-base'})
    reviews_count = d.find('span', attrs={'class':'a-size-base s-underline-text'})

    all1=[]
    
    if name is not None:
        all1.append(name.text)
        #alt_name.text prints extra trailing whitespace at end, fix needed.
    else:
        all1.append('Unknown Product Name')
        
    if price is not None:
        all1.append(price.text)
    else:
        all1.append('N/A')
        
    if rating is not None:
        all1.append(rating.text)
    else:
        all1.append('0')
        
    if reviews_count is not None:
        all1.append(reviews_count.text)
        alls.append(all1)

csv_headers = [ 'Product Name', 'Price', 'User_Rating', 'Reviews Count']
df_Part1 = pd.DataFrame(alls)
df_Part1.columns=csv_headers

df_Part1.to_csv('Amazon_products_Part1.csv')
df_Part1.head()
#df.tail()

,Product Name,Price,User_Rating,Reviews Count
0,American Tourister 32 Ltrs Black Casual Backpa...,"1,199",4.0,"(52,302)"
1,Skybags Brat Black 46 Cms Casual Backpack,659,4.1,"(3,775)"
2,Wesley Milestone 2.0 Casual Waterproof Laptop ...,565,4.3,"(9,815)"
3,Kuber Industries Women's Handkerchief Set (Cre...,313,3.8,(482)
4,Fiesto Fashion PU Leather Handbags With Sling ...,615,3.9,"(4,102)"

In [13]:
df_Part1.tail()

,Product Name,Price,User_Rating,Reviews Count
31,"Mi Step Out 12 L Mini Backpack (Small Size, Bl...",398,4.1,"(8,162)"
32,Gear Classic 20L Faux Leather Water Resistant ...,"1,075",4.4,"(5,456)"
33,Safari Quill Laptop Backpack 26 Ltrs Water Res...,799,3.9,(717)
34,ADISA 35L Large Laptop Backpack Office Bag Col...,599,4.0,(32)
35,ADISA Light Weight Laptop Backpack 32 Ltrs,499,4.0,"(5,650)"

# Part 2

With the Product URL received in the above case, hit each URL, and add below items:
    
• Description

• ASIN

• Product Description

• Manufacturer

In [18]:
#Get Links

links_list=[]
results=[]
# Fetch links as List of Tag Objects
links = soup.find_all("a", attrs={'class':'a-link-normal s-no-outline'})
# Store the links
links_list = []
# Loop for extracting links from Tag Objects

for link in links:
    links_list.append(link.get('href'))
    # Loop for extracting product details from each link

for link in links_list:
    new_webpage = requests.get("https://www.amazon.in" + link, headers=headers)
    new_soup = BeautifulSoup(new_webpage.content, "lxml")
    # Function calls to display all necessary product information
    res1=[]
    try:
        # Outer Tag Object
        title = soup.find("span", attrs={"id":'productTitle'})
        # Inner NavigatableString Object
        title_value = title.string
        # Title as a string value
        title_string = title_value.strip()
        res1.append(title_string)
        
    except AttributeError:
        title_string = 'N/A'
        res1.append(title_string)
    try:
        feature = soup.find('ul', attrs={'class':'a-unordered-list a-vertical a-spacing-mini'})
        res1.append(feature.text)
    except AttributeError:
        res1.append('N/A')
        results.append(res1)

csv2_headers = ['Product Name','Product Description']
df_Part2=pd.DataFrame(results)
df_Part2.columns=csv2_headers
df_Part2['URL_links']=pd.DataFrame(links_list)

df_Part2.to_csv('Amazon_products_Part2.csv')
df_Part2.head()

,Product Name,Product Description,URL_links
0,N/A,N/A,/b/ref=sxts_spks_0_0_dbb31dc2-f6c4-487f-9f15-0...
1,N/A,N/A,/American-Tourister-AMT-SCH-02/dp/B07CJCGM1M/r...
2,N/A,N/A,/Skybags-Brat-Black-Casual-Backpack/dp/B08Z1HH...
3,N/A,N/A,/Wesley-Milestone-Waterproof-Backpack-Business...
4,N/A,N/A,/Kuber-Industries-Handcrafted-Embroidered-Hand...

In [19]:
df_Part2.tail(2)

,Product Name,Product Description,URL_links
27,N/A,N/A,/ADISA-Laptop-Backpack-Office-College/dp/B0BPV...
28,N/A,N/A,/ADISA-BP005-Weight-Casual-Backpack/dp/B07F3X4...

In [22]:
df_Part1.shape

(36, 4)